<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    <servlet>-->
<!--        <servlet-name>Register User</servlet-name>-->
<!--        <servlet-class>com.oop.servlet.AddUserServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Register User</servlet-name>-->
<!--        <url-pattern>/register</url-pattern>-->
<!--    </servlet-mapping>-->



    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.csse.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AddRequisitionServlet</servlet-name>
        <servlet-class>com.csse.servlet.AddRequisitionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRequisitionServlet</servlet-name>
        <url-pattern>/AddRequisition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllRequisitionsServlet</servlet-name>
        <servlet-class>com.csse.servlet.GetAllRequisiotionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllRequisitionsServlet</servlet-name>
        <url-pattern>/GetAllRequisitionsServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteRequisitions</servlet-name>
        <servlet-class>com.csse.servlet.DeleteRequisitionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRequisitions</servlet-name>
        <url-pattern>/DeleteRequisitions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetRequisitionsByID</servlet-name>
        <servlet-class>com.csse.servlet.GetRequisitionByIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRequisitionsByID</servlet-name>
        <url-pattern>/GetRequisitionsByID</url-pattern>
    </servlet-mapping>

</web-app>
